{
  "openapi": "3.1.0",
  "info": {
    "title": "AskNews API",
    "description": "AskNews API [![status](https://status.asknews.app/api/badge/2/status?style=for-the-badge)](https://status.asknews.app/status/prod)",
    "version": "0.31.1"
  },
  "servers": [
    {
      "url": "https://api.asknews.app"
    }
  ],
  "paths": {
    "/v1/news/search": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Search for enriched real-time news context",
        "description": "Search for any news, up to the last 5 minutes or in our extensive historical archive\nfilled with 100s of millions of articles.\n\nGeared toward low-latency applications, where time is of the essence. For example, this\nendpoint is commonly used for quickly getting news context for an LLM.\n\nThis endpoint is also commonly used for synthetic data curation. For example, say you\nare fine-tuning a model for sports. You could filter  with `classification=\"Sports\"`\nand build a dataset of sports articles.\n\nNews articles come with an abundance of valuable metadata, including full summaries, sentiment,\nentities, reporting voice, page rank, language, and much much more.\n\nAn example of this data in action can be found and interacted with at `https://asknews.app/chat`",
        "operationId": "search_news",
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Query string that can be any phrase, keyword, question, or paragraph. If method='nl', then this will be used as a natural language query. If method='kw', then this will be used as a direct keyword query. This is not required, if it is not passed, then the search is based on the remaining filters only.",
              "default": "",
              "title": "Query"
            },
            "description": "Query string that can be any phrase, keyword, question, or paragraph. If method='nl', then this will be used as a natural language query. If method='kw', then this will be used as a direct keyword query. This is not required, if it is not passed, then the search is based on the remaining filters only."
          },
          {
            "name": "n_articles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 101,
              "exclusiveMinimum": 0,
              "description": "Number of articles to return",
              "default": 10,
              "title": "N Articles"
            },
            "description": "Number of articles to return"
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Timestamp to start search from",
              "title": "Start Timestamp"
            },
            "description": "Timestamp to start search from"
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Timestamp to end search at",
              "title": "End Timestamp"
            },
            "description": "Timestamp to end search at"
          },
          {
            "name": "time_filter",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "crawl_date",
                "pub_date"
              ],
              "type": "string",
              "description": "Control which date type to filter on. 'crawl_date' is the date the article was crawled, 'pub_date' is the date the article was published.",
              "default": "crawl_date",
              "title": "Time Filter"
            },
            "description": "Control which date type to filter on. 'crawl_date' is the date the article was crawled, 'pub_date' is the date the article was published."
          },
          {
            "name": "return_type",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "string",
                "dicts",
                "both"
              ],
              "type": "string",
              "description": "Type of return value. 'string' means that the return is prompt-optimized and ready to be immediately injected into any prompt. 'dicts' means that the return is a structured dictionary, containing additional metadata (like a classic news api). Can be 'string' or 'dicts', or 'both'. 'string' guarantees the lowest-latency response 'dicts' requires more I/O, therefore increases latency (very slightly, depending on your network connection).",
              "default": "dicts",
              "title": "Return Type"
            },
            "description": "Type of return value. 'string' means that the return is prompt-optimized and ready to be immediately injected into any prompt. 'dicts' means that the return is a structured dictionary, containing additional metadata (like a classic news api). Can be 'string' or 'dicts', or 'both'. 'string' guarantees the lowest-latency response 'dicts' requires more I/O, therefore increases latency (very slightly, depending on your network connection)."
          },
          {
            "name": "historical",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Search on archive of historical news. Defaults to False, meaning that the search will only look through the most recent news (48 hours)",
              "default": false,
              "title": "Historical"
            },
            "description": "Search on archive of historical news. Defaults to False, meaning that the search will only look through the most recent news (48 hours)"
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "nl",
                "kw",
                "both"
              ],
              "type": "string",
              "description": "Method to use for searching. 'nl' means Natural Language, which is a string that can be any phrase, keyword, question, or paragraph that will be used for semantic search on the news. 'kw' means Keyword, which can also be any keyword(s), phrase, or paragraph, however the search is a direct keyword search on the database. 'both' means both methods will be used and results will be ranked according to IRR. 'both' may reduce latency by 10 pct in exchange  for improved accuracy.",
              "default": "kw",
              "title": "Method"
            },
            "description": "Method to use for searching. 'nl' means Natural Language, which is a string that can be any phrase, keyword, question, or paragraph that will be used for semantic search on the news. 'kw' means Keyword, which can also be any keyword(s), phrase, or paragraph, however the search is a direct keyword search on the database. 'both' means both methods will be used and results will be ranked according to IRR. 'both' may reduce latency by 10 pct in exchange  for improved accuracy."
          },
          {
            "name": "similarity_score_threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Similarity score threshold to determine which articles to return. Lower means less similar results  are allowed.",
              "default": 0.5,
              "title": "Similarity Score Threshold"
            },
            "description": "Similarity score threshold to determine which articles to return. Lower means less similar results  are allowed."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "format": "uuid"
                }
              ],
              "description": "Offset for pagination. The n_articles is your page size, while your offset is the number of articles to skip to get to your page of interest. For example, if you want to get page 3 for n_article page size of 10, you would set offset to 20.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset for pagination. The n_articles is your page size, while your offset is the number of articles to skip to get to your page of interest. For example, if you want to get page 3 for n_article page size of 10, you would set offset to 20."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "All",
                  "Business",
                  "Economy",
                  "Crime",
                  "Politics",
                  "Science",
                  "Sports",
                  "Technology",
                  "Military",
                  "Health",
                  "Entertainment",
                  "Finance",
                  "Culture",
                  "Climate",
                  "Environment",
                  "World"
                ],
                "type": "string"
              },
              "description": "Categories of news to filter on",
              "title": "Categories"
            },
            "description": "Categories of news to filter on"
          },
          {
            "name": "doc_start_delimiter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Document start delimiter for string return.",
              "default": "<doc>",
              "title": "Doc Start Delimiter"
            },
            "description": "Document start delimiter for string return."
          },
          {
            "name": "doc_end_delimiter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Document end delimiter for string return.",
              "default": "</doc>",
              "title": "Doc End Delimiter"
            },
            "description": "Document end delimiter for string return."
          },
          {
            "name": "provocative",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "unknown",
                "low",
                "medium",
                "high",
                "all"
              ],
              "type": "string",
              "description": "Filter articles based on how provocative they are deemed based on the use of provocative language and emotional vocabulary.",
              "title": "Provocative"
            },
            "description": "Filter articles based on how provocative they are deemed based on the use of provocative language and emotional vocabulary."
          },
          {
            "name": "reporting_voice",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Objective",
                      "Subjective",
                      "Investigative",
                      "Narrative",
                      "Analytical",
                      "Advocacy",
                      "Conversational",
                      "Satirical",
                      "Emotive",
                      "Explanatory",
                      "Persuasive",
                      "Sensational",
                      "Unknown",
                      "all"
                    ],
                    "type": "string"
                  }
                },
                {
                  "enum": [
                    "Objective",
                    "Subjective",
                    "Investigative",
                    "Narrative",
                    "Analytical",
                    "Advocacy",
                    "Conversational",
                    "Satirical",
                    "Emotive",
                    "Explanatory",
                    "Persuasive",
                    "Sensational",
                    "Unknown",
                    "all"
                  ],
                  "type": "string"
                }
              ],
              "description": "Type of reporting voice to filer by.",
              "title": "Reporting Voice"
            },
            "description": "Type of reporting voice to filer by."
          },
          {
            "name": "domain_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "filter by domain url of interest. This can be a single domain or a list of domains. For example, 'npr.org' or ['nature.com', 'npr.org']",
              "title": "Domain Url"
            },
            "description": "filter by domain url of interest. This can be a single domain or a list of domains. For example, 'npr.org' or ['nature.com', 'npr.org']"
          },
          {
            "name": "bad_domain_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "blacklist of domains that must be excluded from resultsThis can be a single domain url or a list of domain urls.",
              "title": "Bad Domain Url"
            },
            "description": "blacklist of domains that must be excluded from resultsThis can be a single domain url or a list of domain urls."
          },
          {
            "name": "podcasts",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "include",
                "only",
                "none"
              ],
              "type": "string",
              "description": "Control whether podcasts are included in search results. 'include' searches news and podcasts, 'only' searches podcasts only, and 'none' excludes podcasts.",
              "default": "include",
              "title": "Podcasts"
            },
            "description": "Control whether podcasts are included in search results. 'include' searches news and podcasts, 'only' searches podcasts only, and 'none' excludes podcasts."
          },
          {
            "name": "page_rank",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum allowed page rank for returned articles.",
              "title": "Page Rank"
            },
            "description": "Maximum allowed page rank for returned articles."
          },
          {
            "name": "diversify_sources",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Ensure that the return set of articles are selected from diverse sources. This adds latency to the search, but attempts to balance the representation of sources by country and source origins. In summary, a net is cast around your search, then the diversity of sources is analyzed, and your final result matches the large net diversity distribution. This means that your search accuracy is reduced, but you gain more diverse perspectives.",
              "default": false,
              "title": "Diversify Sources"
            },
            "description": "Ensure that the return set of articles are selected from diverse sources. This adds latency to the search, but attempts to balance the representation of sources by country and source origins. In summary, a net is cast around your search, then the diversity of sources is analyzed, and your final result matches the large net diversity distribution. This means that your search accuracy is reduced, but you gain more diverse perspectives."
          },
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "latest news",
                "news knowledge",
                "default"
              ],
              "type": "string",
              "description": "Strategy to use for searching. 'latest news' automatically setsmethod='nl', historical=False, and looks within the past 24 hours. 'news knowledge' automatically sets method='kw', historical=True, and looks within the past 60 days. 'news knowledge' will increase latency due to the  larger search space in the archive. Use 'default' if you want to control  start_timestamp, end_timestamp, historical, and method.",
              "default": "default",
              "title": "Strategy"
            },
            "description": "Strategy to use for searching. 'latest news' automatically setsmethod='nl', historical=False, and looks within the past 24 hours. 'news knowledge' automatically sets method='kw', historical=True, and looks within the past 60 days. 'news knowledge' will increase latency due to the  larger search space in the archive. Use 'default' if you want to control  start_timestamp, end_timestamp, historical, and method."
          },
          {
            "name": "hours_back",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Can be set to easily control the look back on the search. This is the same as controlling the 'start_timestamp' parameter. The difference is that this is not a timestamp, it is the number of hours back to look from the current time. Defaults to 24 hours.",
              "default": 24,
              "title": "Hours Back"
            },
            "description": "Can be set to easily control the look back on the search. This is the same as controlling the 'start_timestamp' parameter. The difference is that this is not a timestamp, it is the number of hours back to look from the current time. Defaults to 24 hours."
          },
          {
            "name": "string_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "If defined, the search will only occur on articles that contain strings in this list.",
              "title": "String Guarantee"
            },
            "description": "If defined, the search will only occur on articles that contain strings in this list."
          },
          {
            "name": "string_guarantee_op",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "AND",
                "OR"
              ],
              "type": "string",
              "description": "Operator to use for string guarantee list.",
              "default": "AND",
              "title": "String Guarantee Op"
            },
            "description": "Operator to use for string guarantee list."
          },
          {
            "name": "reverse_string_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "If defined, the search will only occur on articles that do not contain strings in this list.",
              "title": "Reverse String Guarantee"
            },
            "description": "If defined, the search will only occur on articles that do not contain strings in this list."
          },
          {
            "name": "entity_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Entity guarantee to filter by. This is a list of strings, where each string includes entity type and entity value separated by a colon. The first element is the entity type and the second element is the entity value. For example ['Location:Paris', 'Person:John']",
              "title": "Entity Guarantee"
            },
            "description": "Entity guarantee to filter by. This is a list of strings, where each string includes entity type and entity value separated by a colon. The first element is the entity type and the second element is the entity value. For example ['Location:Paris', 'Person:John']"
          },
          {
            "name": "reverse_entity_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Reverse entity guarantee to filter by. This is a list of strings, where each string includes entity type and entity value separated by a colon. The first element is the entity type and the second element is the entity value. For example ['Location:Paris', 'Person:John']",
              "title": "Reverse Entity Guarantee"
            },
            "description": "Reverse entity guarantee to filter by. This is a list of strings, where each string includes entity type and entity value separated by a colon. The first element is the entity type and the second element is the entity value. For example ['Location:Paris', 'Person:John']"
          },
          {
            "name": "entity_guarantee_op",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "AND",
                "OR"
              ],
              "type": "string",
              "description": "Operator to use for entity guarantee list.",
              "default": "OR",
              "title": "Entity Guarantee Op"
            },
            "description": "Operator to use for entity guarantee list."
          },
          {
            "name": "return_graphs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return graphs for the articles. Only available to Analyst tier and above.",
              "default": false,
              "title": "Return Graphs"
            },
            "description": "Return graphs for the articles. Only available to Analyst tier and above."
          },
          {
            "name": "return_geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return GeoCoordinates associated with locations discussed  inside the articles. Only available to Analyst tier and above.",
              "default": false,
              "title": "Return Geo"
            },
            "description": "Return GeoCoordinates associated with locations discussed  inside the articles. Only available to Analyst tier and above."
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "sq",
                      "ar",
                      "az",
                      "ca",
                      "zh",
                      "hr",
                      "cs",
                      "da",
                      "nl",
                      "en",
                      "eo",
                      "fi",
                      "fr",
                      "gl",
                      "de",
                      "el",
                      "he",
                      "hi",
                      "hu",
                      "is",
                      "id",
                      "ia",
                      "it",
                      "ja",
                      "kk",
                      "km",
                      "ko",
                      "ky",
                      "ms",
                      "mt",
                      "mhr",
                      "mn",
                      "no",
                      "or",
                      "pl",
                      "pt",
                      "pa",
                      "ro",
                      "ru",
                      "sr",
                      "sk",
                      "sl",
                      "es",
                      "sv",
                      "ta",
                      "te",
                      "th",
                      "tr",
                      "uk",
                      "vi",
                      "unknown"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Languages to filter by. This is the two-letter 'set 1' of the ISO 639-1 standard. For example: English is 'en'.",
              "title": "Languages"
            },
            "description": "Languages to filter by. This is the two-letter 'set 1' of the ISO 639-1 standard. For example: English is 'en'."
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Source countries to filter by (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'.",
              "title": "Countries"
            },
            "description": "Source countries to filter by (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'."
          },
          {
            "name": "countries_blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Source countries to blacklist from search (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to reverse_entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'.",
              "title": "Countries Blacklist"
            },
            "description": "Source countries to blacklist from search (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to reverse_entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'."
          },
          {
            "name": "continents",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Africa",
                      "Asia",
                      "Oceania",
                      "Europe",
                      "Middle East",
                      "North America",
                      "South America"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Continents to filter by.",
              "title": "Continents"
            },
            "description": "Continents to filter by."
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "negative",
                    "neutral",
                    "positive"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sentiment to filter articles by.",
              "title": "Sentiment"
            },
            "description": "Sentiment to filter articles by."
          },
          {
            "name": "premium",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include premium sources.",
              "default": false,
              "title": "Premium"
            },
            "description": "Include premium sources."
          },
          {
            "name": "authors",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Authors to filter articles by.",
              "title": "Authors"
            },
            "description": "Authors to filter articles by."
          },
          {
            "name": "try_cache",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "1h",
                    "6h",
                    "12h",
                    "24h",
                    "3d",
                    "7d"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Enable response caching with the specified TTL. When a cached response is returned, usage is charged at 0.25x the normal rate. Valid values: '1h' (1 hour), '6h' (6 hours), '12h' (12 hours), '24h' (24 hours), '3d' (3 days), '7d' (7 days).",
              "title": "Try Cache"
            },
            "description": "Enable response caching with the specified TTL. When a cached response is returned, usage is charged at 0.25x the normal rate. Valid values: '1h' (1 hour), '6h' (6 hours), '12h' (12 hours), '24h' (24 hours), '3d' (3 days), '7d' (7 days)."
          },
          {
            "name": "geo_lat",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Latitude for geo-radius filter. Must be provided together with geo_lon and geo_radius. Filters articles whose coordinates fall within the specified circle.",
              "title": "Geo Lat"
            },
            "description": "Latitude for geo-radius filter. Must be provided together with geo_lon and geo_radius. Filters articles whose coordinates fall within the specified circle."
          },
          {
            "name": "geo_lon",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Longitude for geo-radius filter. Must be provided together with geo_lat and geo_radius.",
              "title": "Geo Lon"
            },
            "description": "Longitude for geo-radius filter. Must be provided together with geo_lat and geo_radius."
          },
          {
            "name": "geo_radius",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Radius in meters for geo-radius filter. Must be provided together with geo_lat and geo_lon.",
              "title": "Geo Radius"
            },
            "description": "Radius in meters for geo-radius filter. Must be provided together with geo_lat and geo_lon."
          },
          {
            "name": "geo_polygon",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "JSON string defining a polygon for geo filtering. Must contain an 'exterior' key with a list of {lon, lat} points. The first and last point must be the same. Optionally include 'interiors' as a list of rings (each a list of {lon, lat} points) to exclude areas. Example: {\"exterior\": [{\"lon\": -70, \"lat\": -70}, {\"lon\": 60, \"lat\": -70}, {\"lon\": 60, \"lat\": 60}, {\"lon\": -70, \"lat\": 60}, {\"lon\": -70, \"lat\": -70}]}",
              "title": "Geo Polygon"
            },
            "description": "JSON string defining a polygon for geo filtering. Must contain an 'exterior' key with a list of {lon, lat} points. The first and last point must be the same. Optionally include 'interiors' as a list of rings (each a list of {lon, lat} points) to exclude areas. Example: {\"exterior\": [{\"lon\": -70, \"lat\": -70}, {\"lon\": 60, \"lat\": -70}, {\"lon\": 60, \"lat\": 60}, {\"lon\": -70, \"lat\": 60}, {\"lon\": -70, \"lat\": -70}]}"
          }
        ],
        "responses": {
          "200": {
            "description": "A string or a list of dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__4"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__3"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__2"
                }
              }
            },
            "description": "Forbidden"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__1"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/news/graph": {
      "post": {
        "tags": [
          "graph"
        ],
        "summary": "Build a custom mega-news-knowledge graph",
        "description": "Explore our mega-news-knowledge-graph at which ever level of resolution you need.\n\nFully disambiguated and ready to be used in any downstream application.\n\nPass a natural language query to get a graph of the latest news. Add parameters\nto build a graph from our archive, filter your graph by language, country, reporting voice,\nsentiment, provocative levels, and much more.",
        "operationId": "build_graph",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_build_graph"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A fully disambiguated knowledge graph, dismabiguation metadata, and the full list of news articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__8"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__7"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__6"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__5"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ]
      }
    },
    "/v1/news/index_urls": {
      "post": {
        "tags": [
          "index_urls"
        ],
        "summary": "Index a list of URLs into AskNews",
        "description": "Index a list of news article URLs.",
        "operationId": "index_urls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/URLIndexingRequest",
                "description": "Payload containing list of URL objects to index. "
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Job ID and status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexUrlsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__12"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__11"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__10"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__9"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ]
      }
    },
    "/v1/news": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Get multiple articles by UUID",
        "description": "Get articles given a list of UUIDs.",
        "operationId": "get_articles",
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ],
        "parameters": [
          {
            "name": "article_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Article UUIDs to fetch.",
              "title": "Article Ids"
            },
            "description": "Article UUIDs to fetch."
          },
          {
            "name": "full_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to return the full text of the articles.",
              "default": false,
              "title": "Full Text"
            },
            "description": "Whether to return the full text of the articles."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of news articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResponseDictItem"
                  },
                  "title": "Response 200 Get Articles"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__16"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__15"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__14"
                }
              }
            },
            "description": "Forbidden"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__13"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/news/{article_id}": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Get an article by its UUID",
        "description": "Get a single article given a UUID.",
        "operationId": "get_article",
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Article ID to retrieve",
              "title": "Article Id"
            },
            "description": "Article ID to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "A single news article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseDictItem"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__20"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__19"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__18"
                }
              }
            },
            "description": "Forbidden"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__17"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/sources": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Get the sources underlying AskNews",
        "description": "This endpoint is primarly used for transparency and monitoring the\ndiversity of the data.\n\nVisualized at `https://asknews.app/transparency`.\n\nGet the distribution of sources/languages/countries underlying AskNews content.",
        "operationId": "get_sources_report",
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ],
        "parameters": [
          {
            "name": "n_points",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of points to return",
              "default": 100,
              "title": "N Points"
            },
            "description": "Number of points to return"
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start timestamp to filter by",
              "title": "Start Timestamp"
            },
            "description": "Start timestamp to filter by"
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End timestamp to filter by",
              "title": "End Timestamp"
            },
            "description": "End timestamp to filter by"
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "duplication",
                "countries_diversity",
                "languages_diversity",
                "sources_diversity",
                "bucket_loss"
              ],
              "type": "string",
              "description": "Metric to filter by",
              "default": "countries_diversity",
              "title": "Metric"
            },
            "description": "Metric to filter by"
          },
          {
            "name": "sampling",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "5m",
                "1h",
                "4h",
                "1d"
              ],
              "type": "string",
              "description": "Sampling to use",
              "default": "1h",
              "title": "Sampling"
            },
            "description": "Sampling to use"
          }
        ],
        "responses": {
          "200": {
            "description": "A time-series for distribution of sources, countries, and languages of underling AskNews content and analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceReportResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__24"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__23"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__22"
                }
              }
            },
            "description": "Forbidden"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__21"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/index_counts": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Get the index counts underlying AskNews",
        "description": "This endpoint is primarly used for the publisher dashboard, to\nshow the number of articles indexed per source.",
        "operationId": "get_index_counts",
        "security": [
          {
            "APIKey": [
              "news"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start timestamp to filter by",
              "title": "Start Datetime"
            },
            "description": "Start timestamp to filter by"
          },
          {
            "name": "end_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End timestamp to filter by",
              "title": "End Datetime"
            },
            "description": "End timestamp to filter by"
          },
          {
            "name": "domains",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Domain or list of domains to get indexing counts for",
              "title": "Domains"
            },
            "description": "Domain or list of domains to get indexing counts for"
          },
          {
            "name": "sampling",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "5m",
                "1h",
                "12h",
                "1d",
                "1w",
                "1m"
              ],
              "type": "string",
              "description": "Sampling to use",
              "default": "1d",
              "title": "Sampling"
            },
            "description": "Sampling to use"
          },
          {
            "name": "time_filter",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "crawl_date",
                "pub_date"
              ],
              "type": "string",
              "description": "Control which date type to filter on. 'crawl_date' is the date the article was crawled, 'pub_date' is the date the article was published.",
              "default": "pub_date",
              "title": "Time Filter"
            },
            "description": "Control which date type to filter on. 'crawl_date' is the date the article was crawled, 'pub_date' is the date the article was published."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "All",
                      "Business",
                      "Crime",
                      "Politics",
                      "Science",
                      "Sports",
                      "Technology",
                      "Military",
                      "Health",
                      "Entertainment",
                      "Finance",
                      "Culture",
                      "Climate",
                      "Environment",
                      "World"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Categories of news to filter on",
              "title": "Categories"
            },
            "description": "Categories of news to filter on"
          },
          {
            "name": "provocative",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "unknown",
                    "low",
                    "medium",
                    "high",
                    "all"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter articles based on how provocative they are deemed based on the use of provocative language and emotional vocabulary.",
              "title": "Provocative"
            },
            "description": "Filter articles based on how provocative they are deemed based on the use of provocative language and emotional vocabulary."
          },
          {
            "name": "reporting_voice",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Objective",
                      "Subjective",
                      "Investigative",
                      "Narrative",
                      "Analytical",
                      "Advocacy",
                      "Conversational",
                      "Satirical",
                      "Emotive",
                      "Explanatory",
                      "Persuasive",
                      "Sensational",
                      "Unknown",
                      "all"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Type of reporting voice to filer by.",
              "title": "Reporting Voice"
            },
            "description": "Type of reporting voice to filer by."
          },
          {
            "name": "bad_domain_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "blacklist of domains that must be excluded from resultsThis can be a single domain url or a list of domain urls.",
              "title": "Bad Domain Url"
            },
            "description": "blacklist of domains that must be excluded from resultsThis can be a single domain url or a list of domain urls."
          },
          {
            "name": "page_rank",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "maximum allowed pagerank for returned articles",
              "title": "Page Rank"
            },
            "description": "maximum allowed pagerank for returned articles"
          },
          {
            "name": "string_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "If defined, the search will only occur on articles that contain this string.",
              "title": "String Guarantee"
            },
            "description": "If defined, the search will only occur on articles that contain this string."
          },
          {
            "name": "string_guarantee_op",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "AND",
                "OR"
              ],
              "type": "string",
              "description": "Operator to use for string guarantee.",
              "default": "AND",
              "title": "String Guarantee Op"
            },
            "description": "Operator to use for string guarantee."
          },
          {
            "name": "reverse_string_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "If defined, the search will only occur on articles that do not contain this string.",
              "title": "Reverse String Guarantee"
            },
            "description": "If defined, the search will only occur on articles that do not contain this string."
          },
          {
            "name": "entity_guarantee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Entity guarantee to filter by. This is a list of strings, where each string includes entity type and entity value separated by a colon. The first element is the entity type and the second element is the entity value. For example ['Location:Paris', 'Person:John']",
              "title": "Entity Guarantee"
            },
            "description": "Entity guarantee to filter by. This is a list of strings, where each string includes entity type and entity value separated by a colon. The first element is the entity type and the second element is the entity value. For example ['Location:Paris', 'Person:John']"
          },
          {
            "name": "entity_guarantee_op",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "AND",
                "OR"
              ],
              "type": "string",
              "description": "Operator to use for entity guarantee.",
              "default": "OR",
              "title": "Entity Guarantee Op"
            },
            "description": "Operator to use for entity guarantee."
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "sq",
                      "ar",
                      "az",
                      "ca",
                      "zh",
                      "hr",
                      "cs",
                      "da",
                      "nl",
                      "en",
                      "eo",
                      "fi",
                      "fr",
                      "gl",
                      "de",
                      "el",
                      "he",
                      "hi",
                      "hu",
                      "is",
                      "id",
                      "ia",
                      "it",
                      "ja",
                      "kk",
                      "km",
                      "ko",
                      "ky",
                      "ms",
                      "mt",
                      "mhr",
                      "mn",
                      "no",
                      "or",
                      "pl",
                      "pt",
                      "pa",
                      "ro",
                      "ru",
                      "sr",
                      "sk",
                      "sl",
                      "es",
                      "sv",
                      "ta",
                      "te",
                      "th",
                      "tr",
                      "uk",
                      "vi",
                      "unknown"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Languages to filter by. This is the two-letter 'set 1' of the ISO 639-1 standard. For example: English is 'en'.",
              "title": "Languages"
            },
            "description": "Languages to filter by. This is the two-letter 'set 1' of the ISO 639-1 standard. For example: English is 'en'."
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Source countries to filter by (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'.",
              "title": "Countries"
            },
            "description": "Source countries to filter by (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'."
          },
          {
            "name": "countries_blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Source countries to blacklist from search (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to reverse_entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'.",
              "title": "Countries Blacklist"
            },
            "description": "Source countries to blacklist from search (this is only for the publisher location, not the locations mentioned in articles. For Locations mentioned in articles, refer to reverse_entity_guarantee), countries must be the two-letter ISO country codeFor example: United States is 'US', France is 'FR', Sweden is 'SE'."
          },
          {
            "name": "continents",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Africa",
                      "Asia",
                      "Oceania",
                      "Europe",
                      "Middle East",
                      "North America",
                      "South America"
                    ],
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Continents to filter by",
              "title": "Continents"
            },
            "description": "Continents to filter by"
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "negative",
                    "neutral",
                    "positive"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sentiment to filter news articles by.",
              "title": "Sentiment"
            },
            "description": "Sentiment to filter news articles by."
          }
        ],
        "responses": {
          "200": {
            "description": "A time-series for distribution of index counts for domains.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexCountItem"
                  },
                  "title": "Response 200 Get Index Counts"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__28"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__27"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__26"
                }
              }
            },
            "description": "Forbidden"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__25"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/openai/chat/completions": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Get chat completions from a news-infused AI assistant",
        "description": "Get the chat completions for a given user message. This endpoint follows the\nOpenAI API spec. It includes a couple extra params, which include:\n\n- **journalist_mode**: Whether to activate an auto prompt that is more keen on AP styling,\ncitations, and fair reporting. Setting to false, you get a vanilla LLM with the news pre\nadded to the system prompt. No other prompting.\n- **inline_citations**: Decides how you want the bot to cite sources. It can use brackets,\nor it can also include the markdown with URL automatically.\n- **asknews_watermark**: Whether to include the AskNews watermark in the response.",
        "operationId": "get_chat_completions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chat completions for a given user message",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "CreateChatCompletionRequestMessage": {
                      "properties": {
                        "role": {
                          "type": "string",
                          "title": "Role"
                        },
                        "content": {
                          "type": "string",
                          "title": "Content"
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Name"
                        },
                        "function_call": {
                          "anyOf": [
                            {
                              "additionalProperties": true,
                              "type": "object"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Function Call"
                        }
                      },
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "title": "CreateChatCompletionRequestMessage"
                    },
                    "CreateChatCompletionResponseChoice": {
                      "properties": {
                        "index": {
                          "type": "integer",
                          "title": "Index"
                        },
                        "message": {
                          "properties": {
                            "role": {
                              "type": "string",
                              "title": "Role"
                            },
                            "content": {
                              "type": "string",
                              "title": "Content"
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Name"
                            },
                            "function_call": {
                              "anyOf": [
                                {
                                  "additionalProperties": true,
                                  "type": "object"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Function Call"
                            }
                          },
                          "type": "object",
                          "required": [
                            "role",
                            "content"
                          ],
                          "title": "CreateChatCompletionRequestMessage"
                        },
                        "finish_reason": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Finish Reason"
                        }
                      },
                      "type": "object",
                      "required": [
                        "index",
                        "message"
                      ],
                      "title": "CreateChatCompletionResponseChoice"
                    },
                    "CreateChatCompletionResponseUsage": {
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "title": "Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "title": "Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "title": "Total Tokens"
                        }
                      },
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "title": "CreateChatCompletionResponseUsage"
                    }
                  },
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CreateChatCompletionResponse"
                    },
                    {
                      "items": {
                        "$ref": "#/components/schemas/CreateChatCompletionResponseStream"
                      },
                      "type": "array"
                    }
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "Id"
                    },
                    "created": {
                      "type": "integer",
                      "title": "Created"
                    },
                    "object": {
                      "type": "string",
                      "title": "Object",
                      "default": "chat.completion"
                    },
                    "model": {
                      "type": "string",
                      "title": "Model",
                      "default": "gpt-4o-mini"
                    },
                    "usage": {
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "title": "Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "title": "Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "title": "Total Tokens"
                        }
                      },
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "title": "CreateChatCompletionResponseUsage"
                    },
                    "choices": {
                      "items": {
                        "properties": {
                          "index": {
                            "type": "integer",
                            "title": "Index"
                          },
                          "message": {
                            "properties": {
                              "role": {
                                "type": "string",
                                "title": "Role"
                              },
                              "content": {
                                "type": "string",
                                "title": "Content"
                              },
                              "name": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Name"
                              },
                              "function_call": {
                                "anyOf": [
                                  {
                                    "additionalProperties": true,
                                    "type": "object"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Function Call"
                              }
                            },
                            "type": "object",
                            "required": [
                              "role",
                              "content"
                            ],
                            "title": "CreateChatCompletionRequestMessage"
                          },
                          "finish_reason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Finish Reason"
                          }
                        },
                        "type": "object",
                        "required": [
                          "index",
                          "message"
                        ],
                        "title": "CreateChatCompletionResponseChoice"
                      },
                      "type": "array",
                      "title": "Choices"
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "created",
                    "usage",
                    "choices"
                  ],
                  "title": "CreateChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$defs": {
                    "CreateChatCompletionRequestMessage": {
                      "properties": {
                        "role": {
                          "type": "string",
                          "title": "Role"
                        },
                        "content": {
                          "type": "string",
                          "title": "Content"
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Name"
                        },
                        "function_call": {
                          "anyOf": [
                            {
                              "additionalProperties": true,
                              "type": "object"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Function Call"
                        }
                      },
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "title": "CreateChatCompletionRequestMessage"
                    },
                    "CreateChatCompletionResponseStreamChoice": {
                      "properties": {
                        "index": {
                          "type": "integer",
                          "title": "Index"
                        },
                        "delta": {
                          "properties": {
                            "role": {
                              "type": "string",
                              "title": "Role"
                            },
                            "content": {
                              "type": "string",
                              "title": "Content"
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Name"
                            },
                            "function_call": {
                              "anyOf": [
                                {
                                  "additionalProperties": true,
                                  "type": "object"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Function Call"
                            }
                          },
                          "type": "object",
                          "required": [
                            "role",
                            "content"
                          ],
                          "title": "CreateChatCompletionRequestMessage"
                        },
                        "finish_reason": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Finish Reason"
                        }
                      },
                      "type": "object",
                      "required": [
                        "index",
                        "delta"
                      ],
                      "title": "CreateChatCompletionResponseStreamChoice"
                    },
                    "CreateChatCompletionResponseUsage": {
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "title": "Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "title": "Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "title": "Total Tokens"
                        }
                      },
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "title": "CreateChatCompletionResponseUsage"
                    }
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "Id"
                    },
                    "created": {
                      "type": "integer",
                      "title": "Created"
                    },
                    "object": {
                      "type": "string",
                      "title": "Object",
                      "default": "chat.completion.chunk"
                    },
                    "model": {
                      "type": "string",
                      "title": "Model",
                      "default": "gpt-4o-mini"
                    },
                    "usage": {
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "title": "Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "title": "Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "title": "Total Tokens"
                        }
                      },
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "title": "CreateChatCompletionResponseUsage"
                    },
                    "choices": {
                      "items": {
                        "properties": {
                          "index": {
                            "type": "integer",
                            "title": "Index"
                          },
                          "delta": {
                            "properties": {
                              "role": {
                                "type": "string",
                                "title": "Role"
                              },
                              "content": {
                                "type": "string",
                                "title": "Content"
                              },
                              "name": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Name"
                              },
                              "function_call": {
                                "anyOf": [
                                  {
                                    "additionalProperties": true,
                                    "type": "object"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Function Call"
                              }
                            },
                            "type": "object",
                            "required": [
                              "role",
                              "content"
                            ],
                            "title": "CreateChatCompletionRequestMessage"
                          },
                          "finish_reason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Finish Reason"
                          }
                        },
                        "type": "object",
                        "required": [
                          "index",
                          "delta"
                        ],
                        "title": "CreateChatCompletionResponseStreamChoice"
                      },
                      "type": "array",
                      "title": "Choices"
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "created",
                    "usage",
                    "choices"
                  ],
                  "title": "CreateChatCompletionResponseStream"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__32"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__31"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__30"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abc__APIErrorModel__29"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asknews_api__errors__APIErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": [
              "chat"
            ]
          }
        ]
      }
    },
    "/v1/chat/deepnews": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Deep research into real-time news, archive news, and Google.",
        "operationId": "deep_news",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeepNewsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deep news research.",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "Assets": {
                      "properties": {
                        "images": {
                          "anyOf": [
                            {
[...]
